* {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

body {
    width: 600px;
    height: 400px;
}

textarea {
    resize: vertical;
}

.w3-btn { transition: 0.5s; }
.w3-button { transition: 0.5s; }
